
@if (Car != null)
{
    <img src="@imageSrc" class="img-thumbnail" width="150" />
    <div>
        <p>@Car.CarName - @Car.Description</p>
        <div class="badge badge-info ">@Car.HorsePower $</div>
    </div>
}
@code {
    [Parameter]
    public DetailsViewModel Car { get; set; }
    [Parameter]
    public EventCallback<DetailsViewModel> CarChanged { get; set; }
    string imageSrc
    {
        get
        {
            return $"https://localhost:44321/images/{Car.Image}";
        }
    }
}
