<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WT_90322_Taluevski_lab_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    @*<script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.js"></script>*@

    <header>
        <div class="container">
            <!-- Панель навигаии-->
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">

                
                <!--Меню сайта-->
                <a class="navbar-brand" asp-action="Index"
                   asp-controller="Home">WebLabsV06</a>
                <div class="navbar-nav">
                    @await Component.InvokeAsync("Menu"); 
                </div>
                <!--Меню сайта - конец-->













                <!--Информация пользователя-->
                <partial name="_UserPartial" />
                @*<a href="#" class="navbar-text ml-auto">
                    00,0 руб <i class="fas fa-shopping-cart nav-color"></i>(0)
                </a>

                <div class="dropdown m1-4 nav-color">
                    <div class="dropdown-toggle" id="dropdownMenuButton"
                         data-toggle="dropdown" aria-haspopup="true"
                         aria-expanded="false">
                        <img src="images/avatar.jpg" width="30"
                             alt="User" class="rounded" />
                    </div>
                    <div class="dropdown-menu"
                         aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item-text">
                            <img src="images/avatar.jpg" width="50"
                                 alt="User" class="rounded" />
                            user@mail.ru
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">My Goods</a>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </div>*@



                @*<a asp-controller="Cart" asp-action="Index" class="navbar-text ml-auto">
                    00,0 руб <i class="fas fa-shopping-cart nav-color"></i>(0)
                </a>

                <div class="dropdown m1-4 nav-color">

                    <div class="dropdown-toogle" id="dropdownMenuButton"
                         data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="false">
                        <img src="~/images/avatar.jpg" width="30" alt="User"
                             class="rounded" />
                    </div>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-item-text">
                            <img src="~/images/avatar.jpg" width="50" alt="User"
                                 class="rounded" />
                            user@mail.ru
                        </div>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Cart"
                           asp-action="Index">My Goods</a>
                        <a class="dropdown-item" asp-area="Identity"
                           asp-page="/Account/Logout">Log off</a>

                    </div>
                </div>*@





                <!--Информация пользователя - конец-->
            </nav>

            <!--<span class="nav-color">Заголовок страницы</span>-->
        </div>
    </header>

    <main class="container">
        <!--Содержимое страницы-->
        @RenderBody()
    </main>

    <footer class="fixed-bottom">
        <div class="container">
            <!--<span class="nav-color">Подвал страницы</span>-->
            <div class="navbar navbar-dark navbar-expand-md bg-dark">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="http://www.facebook.com">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.vk.com">
                        <i class="fab fa-vk fa-2x"></i>
                    </a>
                    <a class="nav-item nav-link" href="http://www.twitter.com">
                        <i class="fab fa-twitter fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
